---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div
        class="min-h-screen bg-gray-300 flex items-center justify-center py-12 px-4"
    >
        <div class="w-full max-w-7xl">
            <h1 class="text-4xl font-bold text-center mb-12">
                Mission & Vision
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div
                    class="bg-white p-8 rounded-lg shadow-md flex flex-col justify-between h-full"
                >
                    <div>
                        <h2 class="text-2xl font-semibold mb-4 text-left">
                            Mission
                        </h2>
                        <p class="text-gray-800 text-left">
                            Palakasin ang pakikipagtulungan ng lahat ng Konseho
                            ng Barangay kasama ang lahat ng mga miyembro ng
                            komunidad upang makamit ang pananaw.
                        </p>
                    </div>
                    <div class="mt-6 h-3 bg-green-700 rounded-b-lg w-full">
                    </div>
                </div>
                <div
                    class="bg-white p-8 rounded-lg shadow-md flex flex-col justify-between h-full"
                >
                    <div>
                        <h2 class="text-2xl font-semibold mb-4 text-left">
                            Vision
                        </h2>
                        <p class="text-gray-800 text-left">
                            Mapasigla ang kasalukuyang pamantayan ng pamumuhay,
                            kapayapaan, kaayusan at kalinisan ng Barangay.
                        </p>
                    </div>
                    <div class="mt-6 h-3 bg-green-700 rounded-b-lg w-full">
                    </div>
                </div>
                <div
                    class="bg-white p-8 rounded-lg shadow-md flex flex-col justify-between h-full"
                >
                    <div>
                        <h2 class="text-2xl font-semibold mb-4 text-left">
                            Goal
                        </h2>
                        <p class="text-gray-800 text-left">
                            Maging ligtas ang buong komunidad sa anumang uri ng
                            sakuna at kalamidad.
                        </p>
                    </div>
                    <div class="mt-6 h-3 bg-green-700 rounded-b-lg w-full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
