---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div
        class="min-h-screen bg-gray-300 flex items-center justify-center py-12 px-4"
    >
        <div class="w-full max-w-7xl">
            <h1 class="text-4xl font-bold text-center mb-12">
                Mission & Vision
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div
                    class="bg-white p-8 rounded-lg shadow-md flex flex-col justify-between h-full"
                >
                    <div>
                        <h2 class="text-2xl font-semibold mb-4 text-left">
                            Mission
                        </h2>
                        <p class="text-gray-800 text-left">
                            There are various types of community service
                            projects available, including those related to
                            agriculture, food distribution, education, health
                            and well-being, community safety, environment,
                            fundraising, special needs, senior care, animal
                            welfare, and general labor.
                        </p>
                    </div>
                    <div class="mt-6 h-3 bg-green-700 rounded-b-lg w-full">
                    </div>
                </div>
                <div
                    class="bg-white p-8 rounded-lg shadow-md flex flex-col justify-between h-full"
                >
                    <div>
                        <h2 class="text-2xl font-semibold mb-4 text-left">
                            Vision
                        </h2>
                        <p class="text-gray-800 text-left">
                            There are various types of community service
                            projects available, including those related to
                            agriculture, food distribution, education, health
                            and well-being, community safety, environment,
                            fundraising, special needs, senior care, animal
                            welfare, and general labor.
                        </p>
                    </div>
                    <div class="mt-6 h-3 bg-green-700 rounded-b-lg w-full">
                    </div>
                </div>
                <div
                    class="bg-white p-8 rounded-lg shadow-md flex flex-col justify-between h-full"
                >
                    <div>
                        <h2 class="text-2xl font-semibold mb-4 text-left">
                            Goal
                        </h2>
                        <p class="text-gray-800 text-left">
                            There are various types of community service
                            projects available, including those related to
                            agriculture, food distribution, education, health
                            and well-being, community safety, environment,
                            fundraising, special needs, senior care, animal
                            welfare, and general labor.
                        </p>
                    </div>
                    <div class="mt-6 h-3 bg-green-700 rounded-b-lg w-full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
