---
import BrgyProgramsDisplay from "@/components/BrgyProgramsDisplay";
import List from "@/components/home/List.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Services">
  <div class="min-h-screen flex flex-col">
    <div id="progs" class="w-full py-8 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-7xl mx-auto">
        <BrgyProgramsDisplay client:only="react" />
      </div>
    </div>
    <div id="docs" class="w-full py-8 px-4 sm:px-6 lg:px-8 bg-white">
      <div class="max-w-7xl mx-auto">
        <List />
      </div>
    </div>
  </div>
</Layout>
