---
import MapSection from "@/components/MapSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us">
  <MapSection />
  <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Emergency Services</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="bg-red-50 p-6 rounded-lg">
          <h3 class="text-xl font-semibold text-red-600 mb-3">
            Emergency Hotline
          </h3>
          <p class="text-lg font-bold">Lipa Rescue</p>
          <p class="text-2xl font-bold">0915-463-505</p>
        </div>
        <div class="bg-blue-50 p-6 rounded-lg">
          <h3 class="text-xl font-semibold text-blue-600 mb-3">
            Police Station
          </h3>
          <p class="text-lg font-bold">Lipa PNP</p>
          <p class="text-2xl font-bold">0977-744-9692</p>
        </div>
        <div class="bg-green-50 p-6 rounded-lg">
          <h3 class="text-xl font-semibold text-green-600 mb-3">
            Health Center
          </h3>
          <p class="text-lg font-bold">Red Cross Lipa</p>
          <p class="text-2xl font-bold">0998-957-0443</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
