---
import CarouselComponent from "./CarouselComponent";
---

<div class="w-full flex justify-center items-center mb-6 bg-teal-300">
  <div class="container mx-auto max-w-7xl px-8 py-4">
    <CarouselComponent client:only="react" />
  </div>
</div>
