<div
    class="min-h-screen w-full bg-gradient-to-b from-white to-neutral-700 flex items-center justify-center relative"
>
    <button
        class="absolute top-4 left-4 w-12 h-12 bg-green-700 rounded-full flex items-center justify-center shadow-lg z-10 hover:bg-green-800 transition-colors"
        onclick="window.history.back()"
        aria-label="Go back"
        type="button"
    >
        <svg
            fill="none"
            stroke="white"
            stroke-width="3"
            viewBox="0 0 24 24"
            class="w-7 h-7"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 19l-7-7 7-7"></path>
        </svg>
    </button>
    <div
        class="border-[10px] border-green-700 bg-white flex items-center justify-center"
        style="width: 900px; height: 600px;"
    >
        <iframe
            width="100%"
            height="100%"
            frameborder="0"
            style="border:0"
            src="https://maps.google.com/maps?width=900&height=600&hl=en&q=San%20Isidro%20Labrador%20Parish,%20Lipa%20City&t=&z=15&ie=UTF8&iwloc=B&output=embed"
            allowfullscreen></iframe>
    </div>
</div>
