---
import { BrgyEventsTable } from "@/components/BrgyEventsTable";
import Layout from "@/layouts/AdminLayout.astro";
---

<Layout>
  <div class="bg-white rounded-lg shadow-sm border border-gray-200 p-6">
    <BrgyEventsTable client:only="react" />
  </div>
</Layout>
